	h1 {color: #FCFCFC; text-align: center; font-family:'Georgia'}
	p {color: #FCFCFC; text-align: center; font-family:'Helvetica'; font-size: 18px}
	div {text-align: center;}

	li a.button {
		font-family: 'Helvetica';
		font-size: 18px;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a.button:hover {
		background-color: crimson;
	}
	
	table, th, td {
		font-style: normal;
		border-collapse: collapse;
	}
	
	table.center {
		margin-left: 20%; 
		
	}
	a {text-decoration: none; color: white}
	a:hover {background-color: crimson;}
	::selection {background: crimson; color: white;}
	::-webkit-scrollbar { display: none; }
	